<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfólio Steffany Sympson</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> 
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" /> 
        <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" /> 
        <link href="../static/css/templatemo-diagoona.css" rel="stylesheet" />
    
    </head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="alinhamento"> <img src="../static/img/eyeowl.png" alt="Image" class="tm-service-imgeyes">
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">SS Developer</h1>
                            <p class="tm-slogon">Portfólio Steffany Sympson</p>
                        </div>    
                        </i>    
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/">Início<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/about">Conhecimentos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/services">Projetos</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/contact">Contato</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">Steffany Sympson</h2>
                        <p class="mb-5">Carioca por nascimento e criação, 31 anos, Engenheira, Perita Judicial e Dev em desenvolvimento. Três anos depois de formada em engenharia descobri gosto pela tecnologia e então resolvi arriscar e recomeçar... // Se você não encontrar razões para ser livre, invente-as!</p>
                        <hr class="mb-5">
                        <p class="mb-5">“Sejam compreensivos em relação a tudo. As diferenças das pessoas, suas semelhanças, escolhas, personalidades. As vezes é a variedade que faz uma coleção ser boa.”</p>
                        <span>Colleen Hoover</span>                        
                        <a href="/about" class="btn btn-primary">Next...</a>
                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>            
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Todos os direitos reservados  
                    
                    | <a rel="nofollow" target="_parent" href="https://github.com/SteffanySympson" class="tm-text-link">SS Developer</a></p>
                </footer>
            </div>  
        </div>

        
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.backstretch.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>
</body>
</html>