<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfólio Steffany Sympson</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> 
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" /> 
        <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" /> 
        <link href="../static/css/templatemo-diagoona.css" rel="stylesheet" />
    
    </head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="alinhamento"> <img src="../static/img/eyeowl.png" alt="Image" class="tm-service-imgeyes">
                            <div class="media-body">
                                <h1 class="tm-sitename text-uppercase">SS Developer</h1>
                                <p class="tm-slogon">Portfólio Steffany Sympson</p>
                            </div>    
                        </i>         
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/about">Conhecimentos</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/services">Projetos</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/contact">Contato</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="../static/img/owlgif3.gif" alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Projeto Detetive</h2>
                                <p>Cinco perguntas para descobrir a verdade... Incocente, cúmplice, suspeito ou assassino?</p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%201%20-%20Detetive" class="tm-text-link">Jogo do Detetive</a></p>
                            </div> 
                        </div>
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Jokenpô</h2>
                                <p>Original da China, nomeado no Japão, cinhecido em todo o mundo...Aqui no Brasil chamamos de Pedra, Papel ou Tesoura. Vamos Jogar?</p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%202%20-%20Jokenp%C3%B4" class="tm-text-link">Jokenpô</a></p>
                            </div> 
                            <img src="../static/img/owlgif2.gif" alt="Image" class="tm-service-img-r">
                        </div>

                        <div class="media my-3 tm-service-media tm-service-media-img-l">
                            <img src="../static/img/owlgif.gif" alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Simulador de Votação</h2>
                                <p> O eleitor está ou não apto ao voto? Três candidatos, votos nulos, em branco e o resultado final. Participe dessa votação!</p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%203%20-%20Vota%C3%A7%C3%A3o" class="tm-text-link">Voting Simulator</a></p>
                            </div> 
                        </div>
                        
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Jogo IF</h2>
                                <p>Mundo Blue por Bluemmers. Experimente esse jogo de ficção interativa que poderá te levar a várias aventuras, personagens, lugares e épocas diferentes... Darth Vader, Dory, Alien...e VOCÊ!!!!
                                </p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%20Final%20-%20Game%20IF" class="tm-text-link">IF Game - Mundo Blue</a></p>
                            </div> 
                            <img src="../static/img/owlgif4.gif" alt="Image" class="tm-service-img-r">
                        </div>

                        </div>

                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>            
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <div id="btnext">
                        <a href="/contact" class="btn btn-primary">Next...</a>
                    </div>
                    <div>
                        <p class="mb-0">Todos os direitos reservados  
                        
                        | <a rel="nofollow" target="_parent" href="https://github.com/SteffanySympson" class="tm-text-link">SS Developer</a></p>
                    </div>
                </footer>
            </div>  
        </div>        

            <div class="tm-bg"></div>
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.backstretch.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>
</body>

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfólio Steffany Sympson</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> 
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" /> 
        <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" /> 
        <link href="../static/css/templatemo-diagoona.css" rel="stylesheet" />
    
    </head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="alinhamento"> <img src="../static/img/eyeowl.png" alt="Image" class="tm-service-imgeyes">
                            <div class="media-body">
                                <h1 class="tm-sitename text-uppercase">SS Developer</h1>
                                <p class="tm-slogon">Portfólio Steffany Sympson</p>
                            </div>    
                        </i>         
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/about">Conhecimentos</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/services">Projetos <span class="sr-only">(current)</span></a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/contact">Contato</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="../static/img/owlgif3.gif" alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Projeto Detetive</h2>
                                <p>Cinco perguntas para descobrir a verdade... Incocente, cúmplice, suspeito ou assassino?</p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%201%20-%20Detetive" class="tm-text-link">Jogo do Detetive</a></p>
                            </div> 
                        </div>
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Jokenpô</h2>
                                <p>Original da China, nomeado no Japão, cinhecido em todo o mundo...Aqui no Brasil chamamos de Pedra, Papel ou Tesoura. Vamos Jogar?</p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%202%20-%20Jokenp%C3%B4" class="tm-text-link">Jokenpô</a></p>
                            </div> 
                            <img src="../static/img/owlgif2.gif" alt="Image" class="tm-service-img-r">
                        </div>

                        <div class="media my-3 tm-service-media tm-service-media-img-l">
                            <img src="../static/img/owlgif.gif" alt="Image" class="tm-service-img">
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Simulador de Votação</h2>
                                <p> O eleitor está ou não apto ao voto? Três candidatos, votos nulos, em branco e o resultado final. Participe dessa votação!</p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%203%20-%20Vota%C3%A7%C3%A3o" class="tm-text-link">Voting Simulator</a></p>
                            </div> 
                        </div>
                        
                        <div class="media my-3 mb-5 tm-service-media">                            
                            <div class="media-body tm-service-text">
                                <h2 class="mb-4 tm-content-title">Jogo IF</h2>
                                <p>Mundo Blue por Bluemmers. Experimente esse jogo de ficção interativa que poderá te levar a várias aventuras, personagens, lugares e épocas diferentes... Darth Vader, Dory, Alien...e VOCÊ!!!!
                                </p>
                                <p class="detetive">Conheça                   
                                    | <a rel="projdetetive" target="_det" href="https://github.com/SteffanySympson/BLUE-MOD-1/tree/main/Projeto/Projeto%20Final%20-%20Game%20IF" class="tm-text-link">IF Game - Mundo Blue</a></p>
                            </div> 
                            <img src="../static/img/owlgif4.gif" alt="Image" class="tm-service-img-r">
                        </div>

                        </div>

                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>            
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <div id="btnext">
                        <a href="/contact" class="btn btn-primary">Next...</a>
                    </div>
                    <div>
                        <p class="mb-0">Todos os direitos reservados  
                        
                        | <a rel="nofollow" target="_parent" href="https://github.com/SteffanySympson" class="tm-text-link">SS Developer</a></p>
                    </div>
                </footer>
            </div>  
        </div>        

            <div class="tm-bg"></div>
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.backstretch.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>
</body>

</html>